﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

	<style>
		body {
			background: #b3fef9;
		}
		label {
			font-family: 'Agency FB';
			font-size: large;
		}
	</style>
    <meta name="viewport" content="width=device-width" />
    <title>AddArangement</title>
</head>
<body>

	<h2> @ViewBag.error</h2>


    <div> 
		

		<h3> Dodavanje Aranzmana</h3>

		<form action="~/Manager/Addd" method="post" enctype="multipart/form-data">
			<table align="center" style="border: solid 1px black;">
				<tr>
					<td>
						<label> Naziv Aranzmana: </label>
					</td>
					<td>
						<input type="text" name="naziv" />
					</td>
				</tr>

				<tr>
					<td>
						<label> Tip Aranzmana: </label>
					</td>
					<td>
						<input list="tipAranz" name="tip" />
						<datalist id="tipAranz">
							<option value="Nocenje sa Doruckom"></option>
							<option value="Polupansion"></option>
							<option value="Pun pansion"></option>
							<option value="All Inclusive"></option>
							<option value="Najam aprtmana"></option>
						</datalist>
					</td>
				</tr>

				<tr>
					<td>
						<label>Broj Putnika</label>
					</td>
					<td>
						<input type="text" name="put" />
					</td>
				</tr>


				<tr>
					<td>
						<label> Tip Prevoza: </label>
					</td>
					<td>
						<input list="tipPrevoza" name="prevoz" />
						<datalist id="tipPrevoza">
							<option value="Autobus"></option>
							<option value="Avion"></option>
							<option value="Autobus+Avion"></option>
							<option value="Individualan"></option>
							<option value="ostalo"></option>
						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label> Lokacija: </label>
					</td>
					<td>
						<input list="lok" name="lokacija" />
						<datalist id="lok">
							<option value="Grad"></option>
							<option value="Drzava"></option>
							<option value="Regija"></option>
						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label> Datum Kretanja:  </label>
					</td>
					<td>
						<input type="text" name="bdated" value="DD" size="2" /><label><b>/</b></label>
						<input type="text" name="bdatem" value="MM" size="2" /><label><b>/</b></label>
						<input type="text" name="bdatey" value="YYYY" size="4" />
					</td>
				</tr>
				<tr>
					<td>

						<label> Datum Kraja Aranzmana:  </label>
					</td>
					<td>
						<input type="text" name="tdated" value="DD" size="2" /><label><b>/</b></label>
						<input type="text" name="tdatem" value="MM" size="2" /><label><b>/</b></label>
						<input type="text" name="tdatey" value="YYYY" size="4" />
					</td>
				</tr>


				<tr>
					<td>
						<label>Adresa polaska: </label>
					</td>
					<td>

						<input type="text" name="mesto" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Long and Lat</label>
					</td>
					<td>
						<input type="text" name="longi" />
						<label> : </label>
						<input type="text" name="lati" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Sat i minuti </label>
					</td>
					<td>
						<input type="text" name="sati">
						<label>:</label>
						<input type="text" name="minuti" />
					</td>
				</tr>


				<tr>
					<td>
						<label> Opis puta: </label>
					</td>
					<td>
						<input type="text" height="400" width="200" name="opis" />
					</td>
				</tr>

				<tr>
					<td>
						<label> Program Puta :</label>
					</td>
					<td>
						<input type="text" height="250" width="200" name="program" />
					</td>
				</tr>
				<tr>
					<td>
						<input type="file" name="file" />
					</td>
				</tr>
				<tr>
					<td>
						<label>Cena Aranzmana: </label>
					</td>
					<td>
						<input type="text" name="cena" />
						<label> EUR </label>
					</td>
				</tr>


			</table>



			<h4>Smestaj: </h4>
			<table align="center" style=" border: solid 1px black;">
				<tr>
					<td>
						<label> Tip Smestaja: </label>
					</td>
					<td>
						<input list="smst" name="tipSmestaj" />
						<datalist id="smst">
							<option value="Hotel"></option>
							<option value="Motel"></option>
							<option value="Vila"></option>
						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label> Naziv Smestaja:  </label>
					</td>
					<td>
						<input type="text" name="nazivS" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Broj Gostiju: </label>
					</td>
					<td>
						<input type="text" name="broj" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Dostupan Bazen: </label>
					</td>
					<td>
						<input list="bazen" name="bazen" />
						<datalist id="bazen">
							<option value="DA"></option>
							<option value="ne"></option>

						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label>Dostupan Spa Centar: </label>
					</td>
					<td>
						<input list="bazen" name="spa" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Dostupno za Invalide: </label>
					</td>
					<td>
						<input list="bazen" name="Inavlid" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Dostupan Wi Fi: </label>
					</td>
					<td>
						<input list="bazen" name="wifi" />
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>
			</table>
			<input type="submit" value="DODAJ ARANZMAN" style="align-self:center; " />
		</form>
    </div>
</body>
</html>
