﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
	<style>
		body {
			background: #b3fef9;
		}
	</style>
	<meta name="viewport" content="width=device-width" />
	<title>AddSj</title>
</head>
<body>
    <h4> Popunite informacije o smestanoj jedinici</h4>
	<form action="AddSmestajna" style="align-self:center;">
	<label>
		Broj gostiju:
	</label>
	<input type="text" name="gosti" /> <br />
	<label>
		cena:
	</label>
	<input type="text" name="cena" /> <br />
	<label>
		Dozvoljeni Ljubimci: 
	</label>
	<input list="pets" name="pets" /> <br />
	<datalist id="pets">
		<option value="DA"></option>
		<option value="NE"></option>
	</datalist>
	<input type="hidden" value="@ViewBag.naziv" name="nazivA"/>
	<input type="submit" value="DODAJ SMESTAJNU JEDINICU" />
		</form>
</body>
</html>
