﻿@using TouristHaven.Models
@model Arangement
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<style>
		body {
			background: #b3fef9;
		}

		label {
			font-family: 'Agency FB';
			font-size: large;
		}
	</style>
	<meta name="viewport" content="width=device-width" />
	<title>AddArangement</title>
</head>
<body>
	<div>


		<h3> Dodavanje Aranzmana</h3>

		<form action="~/Manager/Modify" enctype="multipart/form-data">
			<table align="center" style="border: solid 1px black;">
				<tr>
					<td>
						<label> Naziv Aranzmana: </label>
					</td>
					<td>
						<label> @Model.Naziv </label> <input type="hidden" value="@Model.Naziv" name="naziv"/>
					</td>
				</tr>

				<tr>
					<td>
						<label> Tip Aranzmana: </label>
					</td>
					<td>
						<input list="tipAranz" name="tip" value="@Model.Tip" />
						<datalist id="tipAranz">
							<option value="Nocenje sa Doruckom"></option>
							<option value="Polupansion"></option>
							<option value="Pun pansion"></option>
							<option value="All Inclusive"></option>
							<option value="Najam aprtmana"></option>
						</datalist>
					</td>
				</tr>

				<tr>
					<td>
						<label>Broj Putnika</label>
					</td>
					<td>
						<input type="text" name="put" value="@Model.BrojPutnika"/>
					</td>
				</tr>


				<tr>
					<td>
						<label> Tip Prevoza: </label>
					</td>
					<td>
						<input list="tipPrevoza" name="prevoz" value="@Model.TipPrevoza" />
						<datalist id="tipPrevoza">
							<option value="Autobus"></option>
							<option value="Avion"></option>
							<option value="Autobus + Avion"></option>
							<option value="Individualan"></option>
							<option value="Ostalo"></option>
						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label> Lokacija: </label>
					</td>
					<td>
						<input list="lok" name="lokacija" value="@Model.Lokacija"/>
						<datalist id="lok">
							<option value="Grad"></option>
							<option value="Drzava"></option>
							<option value="Regija"></option>
						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label> Datum Kretanja:  </label>
					</td>
					<td>
						<input type="text" name="bdated" value="@Model.PocetakPutovanja.Day" size="2" /><label><b>/</b></label>
						<input type="text" name="bdatem" value="@Model.PocetakPutovanja.Month" size="2" /><label><b>/</b></label>
						<input type="text" name="bdatey" value="@Model.PocetakPutovanja.Year" size="4" />
					</td>
				</tr>
				<tr>
					<td>

						<label> Datum Kraja Aranzmana:  </label>
					</td>
					<td>
						<input type="text" name="tdated" value="@Model.ZavrsetakPutovanja.Day" size="2" /><label><b>/</b></label>
						<input type="text" name="tdatem" value="@Model.ZavrsetakPutovanja.Month" size="2" /><label><b>/</b></label>
						<input type="text" name="tdatey" value="@Model.ZavrsetakPutovanja.Year" size="4" />
					</td>
				</tr>


				<tr>
					<td>
						<label>Adresa polaska: </label>
					</td>
					<td>

						<input type="text" name="mesto" value="@Model.MestoNalazenja.Adress" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Long and Lat</label>
					</td>
					<td>
						<input type="text" name="longi" value="@Model.MestoNalazenja.Longitude"/>
						<label> : </label>
						<input type="text" name="lati" value="@Model.MestoNalazenja.Langitude" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Sat i minuti </label>
					</td>
					<td>
						<input type="text" name="sati" value="@Model.VremeNalazenja.Item1">
						<label>:</label>
						<input type="text" name="minuti" value="@Model.VremeNalazenja.Item2" />
					</td>
				</tr>


				<tr>
					<td>
						<label> Opis puta: </label>
					</td>
					<td>
						<input type="text" height="400" width="200" name="opis" value="@Model.Opis" />
					</td>
				</tr>

				<tr>
					<td>
						<label> Program Puta :</label>
					</td>
					<td>
						<input type="text" height="250" width="200" name="program" value="@Model.ProgramPutovanja" />
					</td>
				</tr>
				<tr>
					<td>
					<label> Slika: @Model.ImagePath</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>Cena Aranzmana: </label>
					</td>
					<td>
						<input type="text" name="cena" value="@Model.Cena" />
						<label> EUR </label>
					</td>
				</tr>


			</table>



			<h4>Smestaj: </h4>
			<table align="center" style=" border: solid 1px black;">
				<tr>
					<td>
						<label> Tip Smestaja: </label>
					</td>
					<td>
						<input list="smst" name="tipSmestaj" value="@Model.Prebivaliste.TipSmestaja" />
						<datalist id="smst">
							<option value="Hotel"></option>
							<option value="Motel"></option>
							<option value="Vila"></option>
						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label> Naziv Smestaja:  </label>
					</td>
					<td>
						<input type="text" name="nazivS" value="@Model.Prebivaliste.Naziv" />
					</td>
				</tr>

				<tr>
					<td>
						<label>Broj Zvezdi: </label>
					</td>
					<td>
						<input type="text" name="broj" value="@Model.Prebivaliste.BrojZvezdi"/>
					</td>
				</tr>

				<tr>
					<td>
						<label>Dostupan Bazen: </label>
					</td>
					<td>
						@if (Model.Prebivaliste.Bazen)
						{
							<input list="bazen" name="bazen" value="DA" />
						}
						else
						{
							<input list="bazen" name="bazen" value="ne" />
						}
						<datalist id="bazen">
							<option value="DA"></option>
							<option value="ne"></option>

						</datalist>
					</td>
				</tr>


				<tr>
					<td>
						<label>Dostupan Spa Centar: </label>
					</td>
					<td>
						@if (Model.Prebivaliste.SpaCentar)
						{
							<input list="bazen" name="spa" value="DA" />
						}
						else
						{
							<input list="bazen" name="spa" value="ne" />
						}
					</td>
				</tr>

				<tr>
					<td>
						<label>Dostupno za Invalide: </label>
					</td>
					<td>
						@if (Model.Prebivaliste.InvalidiOK)
						{
							<input list="bazen" name="Inavlid" value="DA" />
						}
						else
						{
							<input list="bazen" name="Inavlid" value="ne" />
						}
					</td>
				</tr>

				<tr>
					<td>
						<label>Dostupan Wi Fi: </label>
					</td>
					<td>
						@if (Model.Prebivaliste.WiFi)
						{
							<input list="bazen" name="wifi" value="DA" />
						}
						else
						{
							<input list="bazen" name="wifi" value="ne" />
						}
					</td>
				</tr>

				<tr>
					<td></td>
				</tr>
			</table>
			<input type="submit" value="Izmeni ARANZMAN" style="align-self:center; " />
		</form>
	</div>
</body>
</html>
