﻿@using TouristHaven.Models
@model Arangement
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
	<style>
		.map {
			height: 150px;
			width: 100%;
		}

		.search {
			background: #a0a0a0;
		}

		.sort {
			background: #a0a0a0;
		}
		body {
			background: #b3fef9;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

	<meta name="viewport" content="width=device-width" />

	<title>Details</title>
</head>
<body>
	<div>
		<h3> @Model.Naziv </h3>

		<table cellspacing="10" style="width: 100%">
			<tr width="100%">
				<td colspan="5" class="AName" align="center"> @Model.Naziv  </td>

			</tr>
			<tr >
				<td style="width: 30px; text-align: center;">
					Polazak:

				</td>
				<td style="width: 30px; text-align: center;">
					Povratak:
				</td>
				<td rowspan="2">
					<img src="~/Pictures/@Model.ImagePath" height="200" width="300"  />
				</td>
				<td  rowspan="2"> @Model.Lokacija</td>
				<td colspan="2" align="center" style="width: 30px;">
					Cena
				</td>

			</tr>
			<tr width="100%">
				<td align="center"> @Model.PocetakPutovanja.ToShortDateString()</td>
				<td align="center"> @Model.ZavrsetakPutovanja.ToShortDateString()</td>

				<td fontsize="2" style="width: 100px;" align="center" ><p colour="red">  @Model.Cena  EUR</p></td>




			</tr>

			<tr width="100%">
				<td align="center"> <label> Mesto nalazenja: </label></td>
				<td align="center"> <label> @Model.MestoNalazenja.Adress </label> </td>
			</tr>
			<tr style="width: 100%">
				<td colspan="2" align="center"  style="width: 100%">
					<div id="map" class="map" style="width: 100%">
						<script type="text/javascript">
						var map = new ol.Map({
							target: 'map',
							layers: [
								new ol.layer.Tile({
									source: new ol.source.OSM()
								})
							],
							view: new ol.View({
								center: ol.proj.fromLonLat([@Model.MestoNalazenja.Longitude, @Model.MestoNalazenja.Langitude]),
								zoom: 10
							})
						});
						</script>
					</div>
				</td>
			</tr>

			<tr width="100%">
				<td align="center">
					<label>Opis aranzmana: </label>
				</td>
				<td>
					<label>@Model.Opis</label>
				</td>
			</tr>


			<tr width="100%">
				<td align="center">
					<label>Program aranzmana: </label>
				</td>
				<td align="center">
					<label>@Model.ProgramPutovanja</label>
				</td>
			</tr>

		</table>

		<h4 style="text-align:center;">
			Smestaj : @Model.Prebivaliste.TipSmestaja
		</h4>

		<h5>
			Tip Smestaja: @Model.Prebivaliste.Naziv
		</h5>
		<h5>
			Broj zvezdi: @Model.Prebivaliste.BrojZvezdi
		</h5>
		@if (Model.Prebivaliste.Bazen)
		{<h5>Bazen dostupan!</h5>}
		else
		{<h5> Bazen Nije Dostupan</h5>}
		@if (Model.Prebivaliste.SpaCentar)
		{<h5>Spa centar dostupan dostupan!</h5>}
		else
		{<h5> Spa centar Nije Dostupan</h5>}

		@if (Model.Prebivaliste.InvalidiOK)
		{<h5>Prikladno za invalide!</h5>}
		else
		{<h5> Nije prikladno za invalide !</h5>}
		@if (Model.Prebivaliste.WiFi)
		{<h5>Wifi dostupan!</h5>}
		else
		{<h5> Wifi Nije Dostupan</h5>}

		<h4>Lista Slobodnih Smestajnih jedinica</h4>


		<form action="~/Home/SearchAndSortSJ">
			<div class="search">
				<input type="hidden" value="@Model.Naziv" name="naziv" />
				<label> Minimum broj gostiju: </label>
				<input type="text" name="min" />
				<label> Maximum broj gostiju: </label>
				<input type="text" name="max" />
				<label>Dozvoljen boravak kucnih ljubimaca</label>
				<input list="ljub" name="pet" />
				<datalist id="ljub">
					<option value="DA"></option>
					<option value="NE"></option>
				</datalist>
				<label> Cena smestajne jedinice: </label>
				<input type="number" name="cena" />

			</div>
			<div class="sort">
				<label> Tip sortiranja: </label>
				<input list="tip" name="sortBy" />
				<datalist id="tip">
					<option value="Dozvoljen broj gostiju"></option>
					<option value="Cena smestajne jedinice"></option>
				</datalist>
				<label> Smer sortiranja: </label>
				<input list="tipp" name="sortIn" />
				<datalist id="tipp">
					<option value="Opadajuci"></option>
					<option value="Rastuci"></option>
				</datalist>
			</div>
			<input type="submit" value="Pretrazi" />
		</form>





		@foreach (var s in Model.Prebivaliste.ListaSJ)
		{
			if (!s.Zauzeto)
			{
				<form action="~/Home/YesPlease">
					<table>
						<tr>
							<td> Broj gostiju:  @s.BrojGostiju   </td>

						</tr>
						<tr>
							<td> Cena : @s.Cena</td>
						</tr>
						<tr>
							@if (s.PetsAlowed)
							{
								<td> Prikladno za ljubimce </td>}
							else
							{
								<td>Ne prihvatamo ljubimce!</td>}
						</tr>
						<tr>
							<td>
								<input type="hidden" name="name" value="@Model.Naziv" />
								<input type="hidden" name="num" value="@s.num" />
								<input type="submit" value="Zakazi termin" />
							</td>
						</tr>
					</table>
				</form>
			}
		}

		@foreach (var c in Model.Comments)
		{
			if (!c.IsDeleted && c.Aprooved)
			{
				<table>
					<tr>
						<td align="left"> <label>User: @c.Tourist </label></td>
					</tr>
					<tr>
						<td>
							@c.Text
						</td>
					</tr>

					<tr>
						<td>
							<p>Ocena: @c.Ocena od 5</p>
						</td>
					</tr>
				</table>
			}
		}



	</div>
</body>
</html>
