﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="background: #c0f1fc;">
    <div> 


		<h2 style="text-align:center;">Please fill in your username and password</h2>

		<h3> @ViewBag.message </h3>

		<div style="align-self:center; align-content:center; text-align:center; align-items:center;">
			<form method="post" action="~/Home/LoginC">

				<label > Username:  </label> <input type="text" name="uname" style="align-self:center;" /> <br />
				<label> Password:  </label> <input type="password" name="upass" style="align-self:center;"/> <br />

				<input type="submit" value="LOGIN" />


			</form>
		</div>





    </div>
</body>
</html>
