﻿@using TouristHaven.Models
@model User
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<style>
		body {
			background: #b3fef9;
		}
	</style>
	<meta name="viewport" content="width=device-width" />
	<title>MyAccount</title>
</head>
<body>
	<div>

		<form action="~/Home/Modify" method="post">

			<label>Username :</label>
			<lable> @Model.Username</lable><br />
			<input type="hidden" value="@Model.Username " name="us" /><br />

			<label>Your First Name :</label>
			<input type="text" name="fname" value="@Model.Ime" /><br />
			<label>Your Last Name :</label>
			<input type="text" name="lname" value="@Model.Prezime" /><br />
			<label>Gender :</label>
			<input list="genders" name="pol" value="@Model.Pol" /><br />

			<datalist id="genders">
				<option value="Female"></option>
				<option value="Male"></option>
				<option value="Other"></option>
			</datalist>

			<label>Email :</label>
			<input type="email" name="mail" value="@Model.Mail" /><br />
			<label>Your Date of Birth :</label>
			<input type="text" name="bdated" value="@Model.DoB.Day" size="2" /><label><b>/</b></label>
			<input type="text" name="bdatem" value="@Model.DoB.Month" size="2" /><label><b>/</b></label>
			<input type="text" name="bdatey" value="@Model.DoB.Year" size="4" />


			<input type="submit" value="MODIFY MY ACCOUNT" />



		</form>



	</div>
</body>
</html>
