﻿@using TouristHaven.Models
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<style>
		body {
			background: #b3fef9;
		}
	</style>
    <meta name="viewport" content="width=device-width" />
    <title>MyAccount</title>
</head>
<body>
	<div>

		<form action="~/Home/ModifyAcc" method="post">
			<input type="hidden" value="@Model.Username" name="us" />
			<label>Username :</label>
			<lable> @Model.Username</lable><br />


			<label>Your First Name :</label>
			<label> @Model.Ime</label><br />
			<label>Your Last Name :</label>
			<label> @Model.Prezime</label><br />
			<label>Gender :</label>
			<label> @Model.Pol</label><br />

			<label>Email :</label>
			<label> @Model.Mail</label><br />
			<label>Your Date of Birth :</label>
			<label> @Model.DoB.ToShortDateString()</label><br />


			<input type="submit" value="MODIFY MY ACCOUNT" />



		</form>

		@foreach (var a in Model.MyArangements)
		{
		<table cellspacing="10">
			<tr>
				<td colspan="5" class="AName" align="center"> @a.IzabraniAranzman.Naziv  </td>

			</tr>
			<tr>
				<td>
					Polazak:

				</td>
				<td>
					Povratak:
				</td>
				<td rowspan="2">
					<img src="~/Pictures/@a.IzabraniAranzman.ImagePath" height="100" width="100" />
				</td>
				<td width=" 250" rowspan="2"> @a.IzabraniAranzman.Lokacija</td>
				<td colspan="2" align="center" width=" 100">
					Cena
				</td>

			</tr>
			<tr>
				<td> @a.IzabraniAranzman.PocetakPutovanja.ToShortDateString()</td>
				<td> @a.IzabraniAranzman.ZavrsetakPutovanja.ToShortDateString()</td>

				<td fontsize="2" width="100" align="center"><p colour="red">  @a.IzabraniAranzman.Cena  EUR</p></td>

			</tr>

			<tr>

				<td colspan="4" align="center"><form action="~/Home/Details"><input type="hidden" value="@a.IzabraniAranzman.Naziv" name="name"><input type="submit" value="DETALJI" /> </form> </td>

			</tr>
			@if (a.IzabraniAranzman.ZavrsetakPutovanja < DateTime.Now)
			{
				<tr>
					<td align="center">
						<form action="~/Home/Comment">
							<input type="hidden" value="@a.IzabraniAranzman.Naziv" name="name" />
							<input type="submit" value="LEAVE A COMMENT" />
						</form>
					</td>
				</tr>
			}
			else
			{
				<tr>
					<td align="center">
						<form action="~/Home/Cancel">
							<input type="hidden" value="@a.IzabraniAranzman.Naziv" name="name" />
							<input type="submit" value="Cancel Plan" />
						</form>
					</td>
				</tr>
			}
		</table>
			foreach (var c in a.IzabraniAranzman.Comments)
			{
				<label> @c.Tourist </label><br /> <hr width="100%" />
				<label> @c.Text</label> <br /> <hr width="100%" />
				<label> Ocena  @c.Ocena  od   5</label> <br /> <hr  height ="20" width="100%" />


			}
		}




	</div>
</body>
</html>
