﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body style="background: #c0f1fc; align-content:center;">
    <div style="align-self:center; align-content:center; text-align:center; align-items:center; border:solid 1px black;" > 

		<h2> Please fill in your account information </h2>
		

		<form action="~/Home/RegisterC" method="post">

			<label>Username :</label>
			<input type="text" name="us" /><br />
			<label>Password :</label>
			<input type="password" name="pass" /><br />
			<label>Your First Name :</label>
			<input type="text" name="fname" /><br />
			<label>Your Last Name :</label>
			<input type="text" name="lname" /><br />
			<label>Gender :</label>
			<input list="genders" name="pol" /><br />

			<datalist id="genders">
				<option value="Female"></option>
				<option value="Male"></option>
				<option value="Other"></option>
			</datalist>

			<label>Email :</label>
			<input type="email" name="mail" /><br />
			<label>Your Date of Birth :</label>
			<input type="text" name="bdated" value="DD" size="2" /><label><b>/</b></label>
			<input type="text" name="bdatem" value="MM" size="2" /><label><b>/</b></label>
			<input type="text" name="bdatey" value="YYYY" size="4" /> <br />


			<input type="submit" value="REGISTER" />



		</form>




    </div>
</body>
</html>
