﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<style>
		body {
			background: #b3fef9;
		}
	</style>
	<meta name="viewport" content="width=device-width" />
	<title>AddManager</title>
</head>
<body>
	<div style="align-content:center;">


		<h2> Please fill in your account information </h2>


		<form action="~/Admin/RegisterM" method="post">

			<label>Managers Username :</label>
			<input type="text" name="us" /><br />
			<label>Managers Password :</label>
			<input type="password" name="ps" /><br />
			<label>Managers First Name :</label>
			<input type="text" name="fname" /><br />
			<label>Managers Last Name :</label>
			<input type="text" name="lname" /><br />
			<label>Gender :</label>
			<input list="genders" name="pol" /><br />

			<datalist id="genders">
				<option value="Female"></option>
				<option value="Male"></option>
				<option value="Other"></option>
			</datalist>

			<label>Managers Email :</label>
			<input type="email" name="mail" /><br />
			<label>Managers Date of Birth :</label>
			<input type="text" name="bdated" value="DD" size="2" /><label><b>/</b></label>
			<input type="text" name="bdatem" value="MM" size="2" /><label><b>/</b></label>
			<input type="text" name="bdatey" value="YYYY" size="4" />


			<input type="submit" value="REGISTER" />



		</form>

	</div>
</body>
</html>
