﻿@using TouristHaven.Models
@model IEnumerable<Arangement>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<style>
		body {
			background: #b3fef9;
		}

		.AName {
			font: large;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		}

		label {
			font-family: 'Agency FB';
			font-size: large;
		}

		.search {
			background: #d9d9d9;
		}

		.sort {
			background: #d9d9d9;
		}

		.tab {
			border: 5px solid #454545;
			background: #adadad;
			text-align: center;
		}

		h4 {
			align-self: center;
		}
	</style>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		<h1 colour="red"> WELCOME TO TRAVEL HAVEN</h1>



		<h2> @ViewBag.message </h2>



		<a href="~/Admin/Users"> Users </a>

		<a href="~/Admin/AddManager">Add Manager</a>








		<a href="~/Home/MyAccount"> MY ACCOUNT </a> <a href="~/Admin/LogOut">LOG OUT</a>
		<form action="~/Admin/SearchAndSort">
			<div class="search">

				<table style="width: 100%; margin-left: 50px">
					<tr><td align="center" colspan="2"> <label>PRETRAGA I SORRTIRANJE</label></td></tr>
					<tr>
						<td>Naziv: <input type="text" name="name" /> </td>
						<td rowspan="9" align="center" valign="middle" style="width: 50%">
							<div style="text-align:center">
								<input type="submit" value="PRETRAZI" style=" font-size: large; font-family:AIGDT; width: 200px; height: 70px" />
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<label> Najraniji termin polaska:</label>
							<input type="text" name="bdated" value="DD" size="2" /><label><b>/</b></label>
							<input type="text" name="bdatem" value="MM" size="2" /><label><b>/</b></label>
							<input type="text" name="bdatey" value="YYYY" size="4" />

						</td>

					</tr>
					<tr>
						<td>
							<label>Najkasniji termin polaska:</label>
							<input type="text" name="tdated" value="DD" size="2" /><label>/</label>
							<input type="text" name="tdatem" value="MM" size="2" /><label>/</label>
							<input type="text" name="tdatey" value="YYYY" size="4" />
						</td>
					</tr>
					<tr>
						<td>
							<label>Najkasniji termin povratka:</label>
							<input type="text" name="badated" value="DD" size="2" /><label>/</label>
							<input type="text" name="badatem" value="MM" size="2" /><label>/</label>
							<input type="text" name="badatey" value="YYYY" size="4" />
						</td>
					</tr>
					<tr>
						<td>
							<label>Najkasniji termin povratka:</label>
							<input type="text" name="tadated" value="DD" size="2" /><label>/</label>
							<input type="text" name="tadatem" value="MM" size="2" /><label>/</label>
							<input type="text" name="tadatey" value="YYYY" size="4" />
						</td>


					</tr>

					<tr>
						<td>
							<label>Tip Prevoza: </label>
							<input list="prevoz" name="prevoz" size="14" /><br />

							<datalist id="prevoz">
								<option value="Autobus"></option>
								<option value="Avion"></option>
								<option value="Autobus+Avion"></option>
								<option value="Individualan"></option>
								<option value="ostalo"></option>
							</datalist>
						</td>
					</tr>
					<tr>
						<td>
							<label>Tip Aranzmana: </label>
							<input list="atype" name="tip" size="19" /><br />

																	   <datalist id="atype">
																	   	<option value="Nocenje sa Doruckom"></option>
																	   	<option value="Polupansion"></option>
																	   	<option value="Pun pansion"></option>
																	   	<option value="All Inclusive"></option>
																	   	<option value="Najam aprtmana"></option>
																	   </datalist>
						</td>



					</tr>

					<tr class="sort">
						<td>
							<label> Izaberite Sortiranje: </label>
							<input list="sortby" name="sortby" size="27" />
							<datalist id="sortby">
								<option value="Sortiraj po Imenu"></option>
								<option value="Sortiraj po Datumu polaska"></option>
								<option value="Sortiraj po Datumu dolaska"></option>
							</datalist>
						</td>
					</tr>
					<tr>
						<td>
							<label>Izaberite smer sortiranja: </label>
							<input list="sortin" name="sortin" />
							<datalist id="sortin">
								<option value="Opadajuce"></option>
								<option value="Rastuce"></option>

							</datalist>
						</td>
					</tr>



				</table>
			</div>
		</form>


		<h4>		List of future arangements:</h4>

		@foreach (var m in Model)
		{

			if (m.PocetakPutovanja > ViewBag.time && !m.IsDeleted)
			{
				<form action="~/Admin/Details">
					<table cellspacing="10" class="tab" style="width: 100%">
						<tr>
							<td colspan="5" class="AName" align="center"> @m.Naziv  </td>

						</tr>
						<tr>
							<td>
								Polazak:

							</td>
							<td>
								Povratak:
							</td>
							<td rowspan="2">
								<img src="~/Pictures/@m.ImagePath" height="100" width="100" />
							</td>
							<td width=" 250" rowspan="2"> @m.Lokacija</td>
							<td colspan="2" align="center" width=" 100">
								Cena
							</td>

						</tr>
						<tr>
							<td> @m.PocetakPutovanja.ToShortDateString()</td>
							<td> @m.ZavrsetakPutovanja.ToShortDateString()</td>

							<td fontsize="2" width="100" align="center"><p colour="red">  @m.Cena  EUR</p></td>

						</tr>

						<tr>

							<td colspan="4" align="center"> <input type="hidden" value="@m.Naziv" name="name"><input type="submit" value="DETALJI" /></td>
						</tr>
					</table>
				</form>
			}
		}
	</div>




</body>
</html>

