﻿@using TouristHaven.Models
@model IEnumerable<Arangement>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<style>
		body {
			background: #b3fef9;
		}
	</style>
	<meta name="viewport" content="width=device-width" />
	<title>Previous</title>
</head>
<body>

	<h4>Lista Zavrsenih aranzmana i aranzmana u toku</h4>

	<div class="sort">
		<form action="~/Admin/SearchAndSortPrev">
			<table>
				<tr>
					<td>
						<label> Najraniji termin polaska:</label>
						<input type="text" name="bdated" value="DD" size="2" /><label><b>/</b></label>
						<input type="text" name="bdatem" value="MM" size="2" /><label><b>/</b></label>
						<input type="text" name="bdatey" value="YYYY" size="4" />

					</td>

				</tr>
				<tr>
					<td>
						<label>Najkasniji termin polaska:</label>
						<input type="text" name="tdated" value="DD" size="2" /><label>/</label>
						<input type="text" name="tdatem" value="MM" size="2" /><label>/</label>
						<input type="text" name="tdatey" value="YYYY" size="4" />
					</td>
				</tr>
				<tr>
					<td>
						<label>Najkasniji termin povratka:</label>
						<input type="text" name="badated" value="DD" size="2" /><label>/</label>
						<input type="text" name="badatem" value="MM" size="2" /><label>/</label>
						<input type="text" name="badatey" value="YYYY" size="4" />
					</td>
				</tr>
				<tr>
					<td>
						<label>Najkasniji termin povratka:</label>
						<input type="text" name="tadated" value="DD" size="2" /><label>/</label>
						<input type="text" name="tadatem" value="MM" size="2" /><label>/</label>
						<input type="text" name="tadatey" value="YYYY" size="4" />
					</td>


				</tr>
				<tr>
					<td>
						<label>Tip Prevoza: </label>
						<input list="prevoz" name="prevoz" /><br />

						<datalist id="prevoz">
							<option value="Autobus"></option>
							<option value="Avion"></option>
							<option value="Autobus+Avion"></option>
							<option value="Individualni"></option>
							<option value="ostalo"></option>
						</datalist>
					</td>

					<td>
						<label>Tip Aranzmana: </label>
						<input list="atype" name="tip" /><br />

						<datalist id="atype">
							<option value="Nocenje sa doruckom"></option>
							<option value="polupansion"></option>
							<option value="All Inclusive"></option>
							<option value="Najam apartmana"></option>

						</datalist>
					</td>



				</tr>
				<tr>
					<td>Naziv: <input type="text" name="name" /> </td>
				</tr>
			</table>
			<label> Izaberite Sortiranje: </label>
			<input list="sortby" name="sorttby" />
			<datalist id="sortby">
				<option value="Sortiraj po Imenu"></option>
				<option value="Sortiraj po Datumu polaska"></option>
				<option value="Sortiraj po Datumu dolaska"></option>
			</datalist>
			<label>Izaberite smer sortiranja: </label>
			<input list="sortin" name="sorttin" />
			<datalist id="sortin">
				<option value="Opadajuce"></option>
				<option value="Rastuce"></option>

			</datalist>


			<input type="submit" value="PRETRAZI" />
		</form>
	</div>





	@foreach (var m in Model)
	{


		<form action="~/Home/Details">
			<table cellspacing="10">
				<tr>
					<td colspan="5" class="AName" align="center"> @m.Naziv  </td>

				</tr>
				<tr>
					<td>
						Polazak:

					</td>
					<td>
						Povratak:
					</td>
					<td rowspan="2">
						<img src="~/Pictures/@m.ImagePath" height="100" width="100" />
					</td>
					<td width=" 250" rowspan="2"> @m.Lokacija</td>
					<td colspan="2" align="center" width=" 100">
						Cena
					</td>

				</tr>
				<tr>
					<td> @m.PocetakPutovanja.ToShortDateString()</td>
					<td> @m.ZavrsetakPutovanja.ToShortDateString()</td>

					<td fontsize="2" width="100" align="center"><p colour="red">  @m.Cena  EUR</p></td>

				</tr>

				<tr>

					<td colspan="4" align="center"> <input type="hidden" value="@m.Naziv" name="name"><input type="submit" value="DETALJI" /></td>
				</tr>
			</table>
		</form>

	}
</body>
</html>
