﻿@using TouristHaven.Models
@model IEnumerable<User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Users</title>
	<style>
		.Sus {
			border: 2px solid red;
			background: #fb544a;
		}
		.notSus{
			border: 1px thin green;
			background: #52f87e;
		}
		.manager {
			border: 1px solid;
			background: #8ff3ce;
		}
		.Admin {
			border: 1px solid black;
			background: #56ed6c;
		}
		.Tourist {
			border: 1px solid black;
			
		}
		.search {
			background: #a0a0a0;
		}

		.sort {
			background: #a0a0a0;
		}
		body {
			background: #b3fef9;
		}

	</style>
</head>
<body>
	<div>

		<h2>Users</h2>

		<form action="~/Admin/SearchAndSortU">
			<div class="search" >



				<table>
					<tr>
						<td> <label> Ime: </label> <input type="text" name="fname" /></td>
						<td> <label> Prezime: </label> <input type="text" name="lname" /></td>
						<td> <label> Uloga: </label> <input type="text" name="role" /></td>
					</tr>
				</table>
				</div> <div class="sort">
				<label> Izaberite Sortiranje: </label>
				<input list="sortby" name="sorttby" />
				<datalist id="sortby">
					<option value="Sortiraj po Imenu"></option>
					<option value="Sortiraj po Prezimenu"></option>
					<option value="Sortiraj po Ulozi"></option>
				</datalist>

				<label>Izaberite smer sortiranja: </label>
				<input list="sortin" name="sorttin" />
				<datalist id="sortin">
					<option value="Opadajuce"></option>
					<option value="Rastuce"></option>

				</datalist>


				<input type="submit" value="PRETRAZI" />






			</div>
		</form>




		<table align="center">



			@foreach (var u in Model)
			{
				if (!u.IsDeleted)
				{
			<tr>

				@if (u.Role == "Manager")
				{
					<td class="manager" id="manager"> @u.Username </td>
				}

				@if (u.Role == "Tourist")
				{
					<td class="Tourist" id="Tourist"> @u.Username </td>
				}

				@if (u.Role == "Admin")
				{
					<td class="Admin" id="Admin"> @u.Username</td>
				}

				@if (u.Cancels >= 2)
				{
					<td class="Sus" id="Sus"> Number of canceled arangements:  @u.Cancels </td>
				}
				else if(u.Role == "Manager")
				{
					<td class="manager" id="manager"> User is a Manager! </td>

				}
				else
				{
					<td class="notSus" id="notSus"> Number of canceled arangements:  @u.Cancels </td>
				}
				@if (u.Role != "Admin")
				{
					<td>

						<form action="~/Admin/DelUser" method="post">
							<input type="hidden" value="@u.Username" name="us" />
							<input type="submit" value="Delete User" />
						</form>

					</td>
				}
				</tr>





				}
			}


		</table>


		<a href="~/Admin"> Home </a>

    </div>
</body>
</html>
